<!--=============================================
=            Footer         =
=============================================-->

<div class="footer-container pt-60 pb-60">
	<!--=======  footer navigation container  =======-->

	<div class="footer-navigation-container mb-60">
		<div class="container">
			<div class="row">
				<div class="col-6 col-lg-2 col-md-3 col-sm-3 mb-10 mb-lg-0 mb-xl-0 mb-md-15 mb-sm-15">
					<!--=======  single footer  =======-->

					<div class="single-footer">
						<!--=======  Single block  =======-->
						<div class="single-block mb-35">
							<h3 class="footer-title">Contact Us</h3>
							<p>Phone:</p>
							<p>{{services.config.getTemplateConfig('basic.phone')}}</p>
							<p>Email:</p>
							<p>{{services.config.getTemplateConfig('basic.email')}}</p>
						</div>
						<!--=======  End of Single block  =======-->
					</div>

					<!--=======  End of single footer  =======-->

				</div>

				<div class="col-12 col-lg-2 col-md-6 col-sm-6 mb-20 mb-lg-0 mb-xl-0 mb-md-35 mb-sm-35">
					<!--=======  single footer  =======-->

					<div class="single-footer">
						<h3 class="footer-title mb-20">{{footer_article_1.details.0.name}}</h3>
						<ul>
							{%for article in footer_article_1_list%}
								<li><a href="/index/blog/{{article.id}}">{{article.data.post.title}}</a></li>
							{%endfor%}
						</ul>
					</div>

					<!--=======  End of single footer  =======-->
				</div>

				<div class="col-12 col-lg-2 col-md-6 col-sm-6 mb-20 mb-lg-0 mb-xl-0 mb-md-35 mb-sm-35">
					<!--=======  single footer  =======-->

					<div class="single-footer">
						<h3 class="footer-title mb-20">{{footer_article_2.details.0.name}}</h3>
						<ul>
							{%for article in footer_article_2_list%}
								<li><a href="/index/blog/{{article.id}}">{{article.data.post.title}}</a></li>
							{%endfor%}
						</ul>
					</div>

					<!--=======  End of single footer  =======-->
				</div>

				<div class="col-12 col-lg-2 col-md-6 col-sm-6 mb-20 mb-lg-0 mb-xl-0 mb-md-35 mb-sm-35">
					<!--=======  single footer  =======-->

					<div class="single-footer">
						<h3 class="footer-title mb-20">{{footer_article_3.details.0.name}}</h3>
						<ul>
							{%for article in footer_article_3_list%}
								<li><a href="/index/blog/{{article.id}}">{{article.data.post.title}}</a></li>
							{%endfor%}
						</ul>
					</div>

					<!--=======  End of single footer  =======-->
				</div>

				<div class="col-6 col-lg-2 col-md-3 col-sm-3">
					<!--=======  single footer  =======-->
					<div class="single-footer">
						<h3 class="footer-title mb-20">Address</h3>
						<p>{{services.config.getTemplateConfig('basic.address')}}</p>
					</div>
					<!--=======  End of single footer  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=======  End of footer navigation container  =======-->
	<!--=======  footer social link container  =======-->

	<div class="footer-social-link-container pt-15 pb-15 mb-60">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6 col-md-7 mb-sm-15 text-left text-sm-center text-lg-left">
				</div>
				<div class="col-12 col-lg-6 col-md-5 text-left text-sm-center text-md-right">
					<div class="social-link">
						<span class="title">Follow Us:</span>
						<ul>
							<li>
								<a target="_blank" href="https://twitter.com/Mercury_Living">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							</li>
							<li>
								<a target="_blank" href="https://www.facebook.com/www.mercuryliving.it/">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a target="_blank" href="https://www.youtube.com/channel/UCCcAZuzgm-TjCdHotT7EKTw?view_as=subscriber">
									<i class="fa fa-youtube"></i>
								</a>
							</li>
							<li>
								<a target="_blank" href="https://www.instagram.com/mercuryliving/">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a target="_blank" href="https://www.linkedin.com/company/mercurylivingsrl/">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a target="_blank" href="https://www.pinterest.it/mercurymedia25/">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--=======  End of footer social link container  =======-->

	<!--=======  footer bottom navigation  =======-->

	<div class="footer-bottom-navigation text-center mb-20">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  navigation-container  =======-->

					<div class="navigation-container">
						<ul>
							{%for article in footer_article_4_list%}
								<li>
									<a href="/index/blog/{{article.id}}">{{article.data.post.title}}</a>
									{%if not loop.last%}
										<span class="separator">|</span>
									{%endif%}
								</li>
							{%endfor%}
						</ul>
					</div>

					<!--=======  End of navigation-container  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=======  End of footer bottom navigation  =======-->

	<!--=======  copyright section  =======-->

	<div class="copyright-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  Copyright text  =======-->
					<p class="copyright-text">{{services.translate.trans('Plentymarket::Common.copyright')}}</p>
					<!--=======  End of Copyright text  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=======  End of copyright section  =======-->
</div>

<!--=====  End of Footer  ======-->


<!-- scroll to top  -->
<a href="#" class="scroll-top"></a>
<!-- end of scroll to top -->

<style>
	.cookie
	{
		position: fixed;
		bottom: 0px;
		color: #fff;
		width: 100%;
		padding: 30px 0px;
		background-color: #000;
	}

	.cookie-desc
	{
		width: 90%;
		display: inline-block;
		vertical-align: top;
	}

	.cookie-accept
	{
		width: 9%;
		display: inline-block;
		vertical-align: top;
		background-color: #FFF;
		color: #000;
		text-align: center;
		padding: 10px;
		border: none;
		outline: none;
	}
</style>
<div class="cookie" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="cookie-desc">
					cookie policy
				</div>
				<button class="cookie-accept">
					ACCEPT
				</button>
			</div>
		</div>
	</div>
</div>

<!-- JS
============================================ -->
<!-- jQuery JS -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="{{plugin_path("Plentymarket")}}/js/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="{{plugin_path("Plentymarket")}}/js/bootstrap.min.js"></script>

<!-- Plugins JS -->
<script src="{{plugin_path("Plentymarket")}}/js/plugins.js"></script>

<!-- Main JS -->
<script src="{{plugin_path("Plentymarket")}}/js/main.js"></script>

<script src="{{plugin_path("Plentymarket")}}/js/spop.min.js"></script>

<script src="{{plugin_path("Plentymarket")}}/js/jquery.validate.min.js"></script>

<script type="text/javascript">
    spop.defaults = {
        autoclose: 5000,
        position: "top-center",
        icon: true
    };

    $.get("/api/wishlist/num", function(response)
    {
        $("#wishlist-num").text(response.data.num);
    });

    var storage = window.localStorage;
    if (storage.getItem("read-cookie") != "1")
    {
        $(".cookie").fadeIn();
    }
    $(".cookie-accept").on("click", function()
    {
        storage.setItem("read-cookie", 1);
        $(".cookie").fadeOut();
    });
</script>
</body>

</html>
