<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mercury</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="icon" href="{{plugin_path("Plentymarket")}}/images/favicon.ico">
	<!-- CSS
	============================================ -->
	<!-- Bootstrap CSS -->
	<link href="{{plugin_path("Plentymarket")}}/css/bootstrap.min.css" rel="stylesheet">

	<!-- Linear Icon CSS -->
	<link href="{{plugin_path("Plentymarket")}}/css/linear-icon.css" rel="stylesheet">

	<!-- Linear Icon CSS -->
	<link href="{{plugin_path("Plentymarket")}}/css/spop.min.css" rel="stylesheet">

	<!-- Plugins CSS -->
	<link href="{{plugin_path("Plentymarket")}}/css/plugins.css" rel="stylesheet">

	<!-- Helper CSS -->
	<link href="{{plugin_path("Plentymarket")}}/css/helper.css" rel="stylesheet">

	<!-- Main CSS -->
	<link href="{{plugin_path("Plentymarket")}}/css/main.css" rel="stylesheet">

	<!-- Modernizer JS -->
	<script src="{{plugin_path("Plentymarket")}}/js/vendor/modernizr-2.8.3.min.js"></script>

	<script src="https://use.fontawesome.com/c30a5809a1.js"></script>

</head>

<body>

<!--=============================================
=            Header One         =
=============================================-->

<div class="header-container header-sticky">

	<!--=======  header top  =======-->
	<div class="header-top pt-15 pb-15">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 text-center text-md-left mb-sm-15">
					<span class="header-top-text">{{services.translate.trans('Plentymarket::Common.welcome')}}</span>
				</div>
				<div class="col-12 col-md-6">
					<!--=======  header top dropdowns  =======-->
					<div class="header-top-dropdown d-flex justify-content-center justify-content-md-end">
						<!--=======  single dropdown  =======-->
						{%if contact is null%}
							<div class="single-dropdown">
								<a href="/account/login_register">
									<span id="accountMenuName">{{services.translate.trans('Plentymarket::Common.my_account')}}</span>
								</a>
							</div>
						{%else%}
							<div class="single-dropdown">
								<a href="/account/index">
									<span id="accountMenuName">{{contact.email}}</span>
								</a>
							</div>
						{%endif%}
						<span class="separator pl-15 pr-15">|</span>
						<!--=======  End of single dropdown  =======-->
						<!--=======  single dropdown  =======-->
						<div class="single-dropdown">
							<a href="#" id="changeCurrency">
								<span id="currencyName">
									EUR €<i class="fa fa-angle-down"></i>
								</span>
							</a>
							<div class="language-currency-list hidden" id="currencyList">
								<ul>
									<!--
									<li><a href="#">USD $</a></li>
									-->
									<li><a href="#">EUR €</a></li>
								</ul>
							</div>
						</div>
						<span class="separator pl-15 pr-15">|</span>
						<!--=======  End of single dropdown  =======-->
						<!--=======  single dropdown  =======-->
						<div class="single-dropdown">
							{%if language=='de'%}
								<img src="{{plugin_path("Plentymarket")}}/images/flags/1.png" alt="">
							{%elseif language=='it'%}
								<img src="{{plugin_path("Plentymarket")}}/images/flags/3.png" alt="">
							{%endif%}
							<a href="#" id="changeLanguage">
								<span id="languageName">
									{%if language=='de'%}
										English
									{%elseif language=='it'%}
										Italy
									{%endif%}
									<i class="fa fa-angle-down"></i>
								</span>
							</a>
							<div class="language-currency-list hidden" id="languageList">
								<ul>
									<li>
										<a href="#" data-id="de">
											<img src="{{plugin_path("Plentymarket")}}/images/flags/1.jpg" alt="">
											English
										</a>
									</li>
									<li>
										<a href="#" data-id="it">
											<img src="{{plugin_path("Plentymarket")}}/images/flags/3.png" alt="">
											Italy
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!--=======  End of single dropdown  =======-->
					</div>
					<!--=======  End of header top dropdowns  =======-->
				</div>
			</div>
		</div>
	</div>
	<!--=======  End of header top  =======-->
	<!--=======  Menu Top  =======-->
	<div class="menu-top pt-35 pb-35 pt-sm-20 pb-sm-20">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-3 col-md-3 text-center text-md-left mb-sm-20">
					<!--=======  logo  =======-->
					<div class="logo">
						<a href="/">
							<img src="{{plugin_path("Plentymarket")}}/images/logo.png" class="img-fluid" alt="">
						</a>
					</div>
					<!--=======  End of logo  =======-->
				</div>
				<div class="col-12 col-lg-6 col-md-5 mb-sm-20">
					<!--=======  Search bar  =======-->
					<form action="/index/search" method="get">
						<div class="search-bar">
							<input type="search" name="query" placeholder="{{services.translate.trans('Plentymarket::Common.search_text')}}">
							<button type="submit"><i class="lnr lnr-magnifier"></i></button>
						</div>
					</form>
					<!--=======  End of Search bar  =======-->
				</div>
				<div class="col-12 col-lg-3 col-md-4">
					<!--=======  menu top icons  =======-->
					<div class="menu-top-icons d-flex justify-content-center align-items-center justify-content-md-end">
						<!--=======  single icon  =======-->
						<div class="single-icon mr-20">
							<a href="/account/wishlist">
								<i class="lnr lnr-heart"></i>
								<span class="text">{{services.translate.trans('Plentymarket::Common.wishlist')}}</span>
								<span class="count" id="wishlist-num">0</span>
							</a>
						</div>
						<!--=======  End of single icon  =======-->
						<!--=======  single icon  =======-->
						<div class="single-icon">
							<a href="javascript:void(0)" id="cart-icon">
								<i class="lnr lnr-cart"></i>
								<span class="text">{{services.translate.trans('Plentymarket::Common.my_cart')}}</span>
								<span class="count" id="cart-num">0</span>
							</a>
							<!-- cart floating box -->
							<div class="cart-floating-box hidden" id="cart-floating-box">
								<div class="cart-items">

								</div>
								<div class="cart-calculation">
									<div class="calculation-details">
										<p class="total">Subtotal <span id="basket_total_price">0</span></p>
									</div>
									<div class="floating-cart-btn text-center">
										<a class="floating-cart-btn" href="/account/checkout">{{services.translate.trans('Plentymarket::Common.checkout')}}</a>
										<a class="floating-cart-btn" href="/account/cart">{{services.translate.trans('Plentymarket::Common.view_cart')}}</a>
									</div>
								</div>
							</div>
							<!-- end of cart floating box -->
						</div>
						<!--=======  End of single icon  =======-->
					</div>
					<!--=======  End of menu top icons  =======-->
				</div>
			</div>
		</div>
	</div>
	<!--=======  End of Menu Top  =======-->
	<!--=======  navigation menu  =======-->
	<div class="navigation-menu">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-3">
					<!--=======  category menu  =======-->

					<div class="hero-side-category">
						<!-- Category Toggle Wrap -->
						<div class="category-toggle-wrap">
							<!-- Category Toggle -->
							<button class="category-toggle">
								<span class="lnr lnr-text-align-left"></span> {{services.translate.trans("Plentymarket::Common.browseCategories")}}
								<span class="lnr lnr-chevron-down"></span></button>
						</div>
						<!-- Category Menu -->
						<nav class="category-menu">
							<ul>
								{%for key,value in category%}
									<li {%if value.children|length > 0%}class="menu-item-has-children"{%endif%}>
										<a href="/index/product_list_category/{{value.id}}">{{value.details.0.name}}</a>
										{%if value.children|length > 0%}
											<!-- Mega Category Menu Start -->
											<ul class="category-mega-menu">
												{%for value2 in value.children%}
													<li class="menu-item-has-children">
														<a class="megamenu-head" href="/index/product_list_category/{{value2.id}}">{{value2.details.0.name}}</a>
														{%if value2.children|length > 0%}
															<ul>
																{%for value3 in value2.children%}
																	<li>
																		<a href="/index/product_list_category/{{value3.id}}">{{value3.details.0.name}}</a>
																	</li>
																{%endfor%}
															</ul>
														{%endif%}
													</li>
												{%endfor%}
											</ul><!-- Mega Category Menu End -->
										{%endif%}
									</li>
								{%endfor%}
							</ul>
						</nav>
					</div>

					<!--=======  End of category menu =======-->
				</div>
				<div class="col-12 col-lg-9">
					<!-- navigation section -->
					<div class="main-menu">
						<nav>
							<ul>

								<li {%if services.request.getRequestUri() == '/'%}class="active"{%endif%}>
									<a href="/">{{services.translate.trans("Plentymarket::Common.home")}}</a></li>

								{#								{%for key,value in category%}#}
								{#									<li {%if value.children|length > 0%}class="menu-item-has-children"{%endif%}>#}
								{#										<a href="/index/product_list_category/{{value.id}}">{{value.details.0.name}}</a>#}
								{#										{%if value2.children|length > 0%}#}
								{#											<ul class="sub-menu">#}
								{#												{%for value2 in value.children%}#}
								{#													<li {%if value2.children|length > 0%}class="menu-item-has-children"{%endif%}>#}
								{#														<a href="/index/product_list_category/{{value2.id}}">{{value2.details.0.name}}</a>#}
								{#														{%if value3.children|length > 0%}#}
								{#															<ul class="sub-menu">#}
								{#																{%for value3 in value2.children%}#}
								{#																	<li>#}
								{#																		<a href="/index/product_list_category/{{value3.id}}">{{value3.details.0.name}}</a>#}
								{#																	</li>#}
								{#																{%endfor%}#}
								{#															</ul>#}
								{#														{%endif%}#}
								{#													</li>#}
								{#												{%endfor%}#}
								{#											</ul>#}
								{#										{%endif%}#}
								{#									</li>#}
								{#								{%endfor%}#}

								<li {%if services.request.getRequestUri() == '/index/blog_list'%}class="active"{%endif%}>
									<a href="/index/blog_list">{{services.translate.trans('Plentymarket::Common.blog')}}    {{services.request.getRequestUri()}}</a>
								</li>

								<li {%if services.request.getRequestUri() == '/index/about'%}class="active"{%endif%}>
									<a href="/index/about">{{services.translate.trans('Plentymarket::Common.about')}}</a>
								</li>

								<li {%if services.request.getRequestUri() == '/index/contact'%}class="active"{%endif%}>
									<a href="/index/contact">{{services.translate.trans('Plentymarket::Common.contact')}}</a>
								</li>

							</ul>
						</nav>
					</div>
					<!-- end of navigation section -->
				</div>
				<div class="col-12 d-block d-lg-none">
					<!-- Mobile Menu -->
					<div class="mobile-menu"></div>
				</div>
			</div>
		</div>
	</div>

	<!--=======  End of navigation menu  =======-->
</div>

<!--=====  End of Header One  ======-->
<script type="text/html" id="basket_not_empty">
	<div class="cart-items">

	</div>
	<div class="cart-calculation">
		<div class="calculation-details">
			<p class="total">Subtotal <span id="basket_total_price">0</span></p>
		</div>
		<div class="floating-cart-btn text-center">
			<a class="floating-cart-btn" href="/account/checkout">{{services.translate.trans('Plentymarket::Common.checkout')}}</a>
			<a class="floating-cart-btn" href="/account/cart">{{services.translate.trans('Plentymarket::Common.view_cart')}}</a>
		</div>
	</div>
</script>
<script type="text/html" id="basket_empty">
	<div class="cart-empty">
		{{services.translate.trans('Plentymarket::Common.cart_empty')}}
	</div>
</script>
<script type="text/html" id="basket_item_tpl">
	<div class="cart-float-single-item d-flex" data-id="[variationId]" data-price="[discount_price]">
		<span class="remove-item" data-id="[basketItemId]">
			<a href="#">
				<i class="fa fa-times"></i>
			</a>
		</span>
		<div class="cart-float-single-item-image">
			<a href="/index/product/[variationId]">
				<img src="[image]" class="img-fluid" alt="">
			</a>
		</div>
		<div class="cart-float-single-item-desc">
			<p class="product-title">
				<a href="/index/product/[variationId]">
					[name]
				</a>
			</p>
			<p class="price">
				<span class="quantity">[quantity] x</span>
				<span class="format_discount_price">[format_discount_price]</span>
			</p>
		</div>
	</div>
</script>
