{%include 'Plentymarket::common.header'%}
{%include 'Plentymarket::common.breadcrumb'%}

<!--=============================================
	=            Blog Page Container         =
	=============================================-->

<div class="blog-page-container mb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 order-1 order-lg-2">
				<!--=======  blog post container  =======-->

				<div class="blog-single-post-container mb-80">

					<!--=======  post title  =======-->
					<h3 class="post-title">{{blog.data.post.title}}</h3>
					<!--=======  End of post title  =======-->

					<!--=======  Post meta  =======-->
					<div class="post-meta">
						<p><span><i class="fa fa-user-circle"></i> Posted By: </span>{{blog.data.user.realName}}
							<span class="separator">/</span>
							<span><i class="fa fa-calendar"></i> Posted On: {{blog.createdAt}}</span></p>
					</div>
					<!--=======  End of Post meta  =======-->

					{%if blog.data.images|length > 0%}
						<!--=======  Post media  =======-->
						<div class="single-blog-post-media mb-xs-20">
							<div class="image">
								<img src="{{blog.data.images.0}}" class="img-fluid" alt="">
							</div>
						</div>
						<!--=======  End of Post media  =======-->
					{%endif%}

					<!--=======  Post content  =======-->

					<div class="post-content mb-40">
						{{blog.data.post.body | raw}}
					</div>

					<!--=======  End of Post content  =======-->

					<!--=======  Share post area  =======-->

					<div class="social-share-buttons mb-40">
						<h3>{{trans('Plentymarket::WebIndexBlog.share_this_post')}}</h3>
						<ul>
							<li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a class="google-plus"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="pinterest"><i class="fa fa-pinterest"></i></a></li>
							<li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>

					<!--=====  End of Share post area  ======-->

				</div>

				<!--=======  End of blog post container  =======-->

			</div>
		</div>
	</div>
</div>

<!--=====  End of Blog Page Container  ======-->
{%include 'Plentymarket::common.footer'%}
