{%include 'Plentymarket::common.header'%}
{%include 'Plentymarket::common.breadcrumb'%}
<!--=============================================
=            Contact page content         =
=============================================-->

<div class="page-content mb-45">

	<!--=============================================
	=            google map container         =
	=============================================-->

	<div class="google-map-container mb-80">
		<div id="google-map"></div>
	</div>

	<!--=====  End of google map container  ======-->

	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4 mb-sm-70">
				<!--=======  contact page side content  =======-->

				<div class="contact-page-side-content">
					<h3 class="contact-page-title">Contact Us</h3>

					<!--=======  single contact block  =======-->

					<div class="single-contact-block">
						<h4><img src="{{plugin_path("Plentymarket")}}/images/icons/contact-icon1.png" alt=""> Address
						</h4>
						<p>{{services.config.getTemplateConfig('basic.address')}}</p>
					</div>

					<!--=======  End of single contact block  =======-->

					<!--=======  single contact block  =======-->

					<div class="single-contact-block">
						<h4><img src="{{plugin_path("Plentymarket")}}/images/icons/contact-icon2.png" alt=""> Phone</h4>
						<p>{{services.config.getTemplateConfig('basic.phone')}}</p>
					</div>

					<!--=======  End of single contact block  =======-->

					<!--=======  single contact block  =======-->

					<div class="single-contact-block">
						<h4><img src="{{plugin_path("Plentymarket")}}/images/icons/contact-icon3.png" alt=""> Email</h4>
						<p>{{services.config.getTemplateConfig('basic.email')}}</p>
					</div>

					<!--=======  End of single contact block  =======-->
				</div>

				<!--=======  End of contact page side content  =======-->

			</div>
			<div class="col-lg-9 col-md-8 pl-100 pl-sm-15">
				<!--=======  contact form content  =======-->

				<div class="contact-form-content">
					<h3 class="contact-page-title">{{services.translate.trans('Plentymarket::WebIndexContact.tell_us_your_message')}}</h3>

					<div class="contact-form">
						<form id="contact-form" action="/api/index/mail" method="post">
							<div class="form-group">
								<label>{{services.translate.trans('Plentymarket::WebIndexContact.your_name')}}
									<span class="required">*</span></label>
								<input type="text" name="customerName" id="customername" required>
							</div>
							<div class="form-group">
								<label>{{services.translate.trans('Plentymarket::WebIndexContact.your_email')}}
									<span class="required">*</span></label>
								<input type="email" name="customerEmail" id="customerEmail" required>
							</div>
							<div class="form-group">
								<label>{{services.translate.trans('Plentymarket::WebIndexContact.subject')}}</label>
								<input type="text" name="contactSubject" id="contactSubject">
							</div>
							<div class="form-group">
								<label>{{services.translate.trans('Plentymarket::WebIndexContact.your_message')}}</label>
								<textarea name="contactMessage" id="contactMessage"></textarea>
							</div>
							<div class="form-group mb-0">
								<button type="submit" value="submit" id="submit" class="pataku-btn" name="submit">send
								</button>
							</div>
						</form>
					</div>
					<p class="form-messege pt-10 pb-10 mt-10 mb-10"></p>
				</div>
				<!--=======  End of contact form content =======-->
			</div>
		</div>
	</div>
</div>

<!--=====  End of Contact page content  ======-->

<!-- AJAX mail JS -->
<script src="{{plugin_path("Plentymarket")}}/js/ajax-mail.js"></script>

<!-- Google Map -->
<script src="http://ditu.google.cn/maps/api/js?sensor=false&libraries=geometry&v=3.22&key=AIzaSyBmGmeot5jcjdaJTvfCmQPfzeoG_pABeWo"></script>

<script>

    google.maps.event.addDomListener(window, "load", init);

    function init()
    {

        var mapOptions = {

            zoom: 12,

            scrollwheel: false,


            center: new google.maps.LatLng(40.740610, -73.935242),


            styles: [{
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#e9e9e9"
                },
                    {
                        "lightness": 17
                    }
                ]
            },
                {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#f5f5f5"
                    },
                        {
                            "lightness": 20
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#ffffff"
                    },
                        {
                            "lightness": 17
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#ffffff"
                    },
                        {
                            "lightness": 29
                        },
                        {
                            "weight": 0.2
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#ffffff"
                    },
                        {
                            "lightness": 18
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#ffffff"
                    },
                        {
                            "lightness": 16
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#f5f5f5"
                    },
                        {
                            "lightness": 21
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#dedede"
                    },
                        {
                            "lightness": 21
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "visibility": "on"
                    },
                        {
                            "color": "#ffffff"
                        },
                        {
                            "lightness": 16
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "saturation": 36
                    },
                        {
                            "color": "#333333"
                        },
                        {
                            "lightness": 40
                        }
                    ]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [{
                        "visibility": "off"
                    }]
                },
                {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#f2f2f2"
                    },
                        {
                            "lightness": 19
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#fefefe"
                    },
                        {
                            "lightness": 20
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#fefefe"
                    },
                        {
                            "lightness": 17
                        },
                        {
                            "weight": 1.2
                        }
                    ]
                }
            ]
        };


        var mapElement = document.getElementById("google-map");


        var map = new google.maps.Map(mapElement, mapOptions);


        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(40.740610, -73.935242),
            map: map,
            title: "Greenfarm",
            icon: "{{plugin_path(\"Plentymarket\")}}/images/icons/map-marker.png",
        animation;
    :
        google.maps.Animation.BOUNCE;
    })
        ;
    }
</script>

{%include 'Plentymarket::common.footer'%}
