{%include 'Plentymarket::common.header'%}

<!--=============================================
=            Hero Area One         =
=============================================-->

<div class="hero-area pt-15 mb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!--=======  slider container  =======-->
				<div class="slider-container">
					<!--=======  hero slider one  =======-->

					<div class="hero-slider-one">
						<!--=======  slider item  =======-->
						<div class="hero-slider-item slider-bg-1">
							<!--=======  slider content  =======-->
							<div class="slider-content  d-flex flex-column justify-content-center align-items-start h-100">
							</div>
							<!--=======  End of slider content  =======-->
						</div>
						<!--=======  End of slider item  =======-->

						<!--=======  slider item  =======-->
						<div class="hero-slider-item slider-bg-2">
							<!--=======  slider content  =======-->
							<div class="slider-content d-flex flex-column justify-content-center align-items-start h-100">
							</div>
							<!--=======  End of slider content  =======-->
						</div>
						<!--=======  End of slider item  =======-->
					</div>
					<!--=======  End of hero slider one  =======-->
				</div>
				<!--=======  End of slider container  =======-->
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 pt-40 pb-40">
				<!--=======  feature area  =======-->
				<div class="feature-area">
					<!--=======  single feature  =======-->
					<div class="single-feature mb-md-20 mb-sm-20">
						<span class="icon"><i class="lnr lnr-rocket"></i></span>
						<p>{{trans('Plentymarket::WebIndexIndex.free_shipping')}}</p>
					</div>
					<!--=======  End of single feature  =======-->
					<!--=======  single feature  =======-->
					<div class="single-feature mb-md-20 mb-sm-20">
						<span class="icon"><i class="lnr lnr-phone"></i></span>
						<p>{{trans('Plentymarket::WebIndexIndex.support')}}</p>
					</div>
					<!--=======  End of single feature  =======-->
					<!--=======  single feature  =======-->
					<div class="single-feature mb-xxs-20">
						<span class="icon"><i class="lnr lnr-undo"></i></span>
						<p>{{trans('Plentymarket::WebIndexIndex.return')}}</p>
					</div>
					<!--=======  End of single feature  =======-->
					<!--=======  single feature  =======-->
					<div class="single-feature mb-xxs-20">
						<span class="icon"><i class="lnr lnr-gift"></i></span>
						<p>{{trans('Plentymarket::WebIndexIndex.payment')}}</p>
					</div>
					<!--=======  End of single feature  =======-->
				</div>
				<!--=======  End of feature area  =======-->
			</div>
		</div>
	</div>
</div>

<!--=====  End of Hero Area One  ======-->

<!--=============================================
=            featured categories         =
=============================================-->

<div class="featured-categories mb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center mb-40">
				<div class="section-title">
					<h2>{{trans('Plentymarket::WebIndexIndex.featured_category')}}</h2>
					<p>{{trans('Plentymarket::WebIndexIndex.featured_category_desc')}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 mb-sm-30">
				<div class="banner">
					<a href="/index/product_list_category/{{categoryList.home_category_1.id}}">
						<img src="{{categoryList.home_category_1.details.0.imagePath}}" class="img-fluid" alt="">
					</a>
					<span class="banner-category-title">
						<a href="/index/product_list_category/{{categoryList.home_category_1.id}}">{{categoryList.home_category_1.details.0.name}}</a>
					</span>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-12 col-md-12 mb-30">
						<div class="banner">
							<a href="/index/product_list_category/{{categoryList.home_category_2.id}}">
								<img src="{{categoryList.home_category_2.details.0.imagePath}}" class="img-fluid" alt="">
							</a>
							<span class="banner-category-title">
								<a href="/index/product_list_category/{{categoryList.home_category_2.id}}">{{categoryList.home_category_2.details.0.name}}</a>
							</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-6">
						<div class="banner">
							<a href="/index/product_list_category/{{categoryList.home_category_3.id}}">
								<img src="{{categoryList.home_category_3.details.0.imagePath}}" class="img-fluid" alt="">
							</a>
							<span class="banner-category-title">
								<a style="white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    width: 80%;" href="/index/product_list_category/{{categoryList.home_category_3.id}}">{{categoryList.home_category_3.details.0.name}}</a>
							</span>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-6">
						<div class="banner">
							<a href="/index/product_list_category/{{categoryList.home_category_4.id}}">
								<img src="{{categoryList.home_category_4.details.0.imagePath}}" class="img-fluid" alt="">
							</a>
							<span class="banner-category-title">
								<a href="/index/product_list_category/{{categoryList.home_category_4.id}}">{{categoryList.home_category_4.details.0.name}}</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--=====  End of featured categories  ======-->

<!--=============================================
=            Double row product slider          =
=============================================-->

<div class="double-row-product-slider mb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center mb-40">
				<div class="section-title">
					<h2>{{trans('Plentymarket::WebIndexIndex.new_collections_of_arrivals')}}</h2>
					<p>{{trans('Plentymarket::WebIndexIndex.new_collections_of_arrivals_desc')}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<!--=======  top selling product slider container  =======-->
				<div class="ptk-slider double-row-slider-container" data-row="2">
					{%for item in home_product_new.list%}
						<div class="col">
							<!--=======  single product  =======-->
							<div class="ptk-product">
								<div class="image">
									<a href="/index/product/{{item.id}}">
										<img src="{{item.images.0}}" class="img-fluid" alt="">
									</a>
									<!--=======  hover icons  =======-->
									<a class="hover-icon preview" data-id="{{item.id}}" href="#"><i class="lnr lnr-eye"></i></a>
									<a class="hover-icon add_to_wishlist" data-id="{{item.variationId}}" href="#"><i class="lnr lnr-heart"></i></a>
									<a class="hover-icon add_to_cart" data-discount_price="{{item.discount_price}}" data-format_discount_price="{{item.format_discount_price}}" data-id="{{item.variationId}}" data-name="{{item.name}}" data-image="{{item.images.0}}" href="#"><i class="lnr lnr-cart"></i></a>
									<!--=======  End of hover icons  =======-->
									<!--=======  badge  =======-->
									<div class="product-badge">
										<span class="new-badge">NEW</span>
									</div>
									<!--=======  End of badge  =======-->
								</div>
								<div class="content">
									<p class="product-title"><a href="/index/product/{{item.id}}">{{item.name}}</a></p>
									<p class="product-price">
										<span class="main-price discounted">{{item.format_main_price}}</span>
										<span class="discounted-price">{{item.format_discount_price}}</span>
									</p>
								</div>
								<div class="rating">
									<i class="lnr lnr-star active"></i>
									<i class="lnr lnr-star active"></i>
									<i class="lnr lnr-star active"></i>
									<i class="lnr lnr-star active"></i>
									<i class="lnr lnr-star active"></i>
								</div>
							</div>
							<!--=======  End of single product  =======-->
						</div>
					{%endfor%}
				</div>
				<!--=======  End of top selling product slider container  =======-->
			</div>
		</div>
	</div>
</div>

<!--=====  End of Double row product slider   ======-->

<!--=============================================
=            fullwidth banner area         =
=============================================-->

<div class="fullwidth-banner-area fullwidth-banner-bg fullwidth-banner-bg-1 pt-120 pb-120 pt-xs-80 pb-xs-80 mb-80">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-7 col-md-9 col-12">
				<!--=======  fullwidth banner content  =======-->
				<div class="fullwidth-banner-content">
					<p class="fullwidth-banner-title">{{trans('Plentymarket::WebIndexIndex.full_banner')}}</p>
					<p>{{trans('Plentymarket::WebIndexIndex.full_banner_desc')}}</p>
					<a href="/index/search/">{{trans('Plentymarket::WebIndexIndex.all_products')}}
						<i class="fa fa-angle-right"></i></a>
				</div>
				<!--=======  End of fullwidth banner content  =======-->
			</div>
		</div>
	</div>
</div>

<!--=====  End of fullwidth banner area  ======-->

<!--=============================================
=            deal and propular product area         =
=============================================-->

<div class="deal-popular-product-area mb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-md-80 mb-sm-80">
				<div class="section-title mb-40">
					<h2>{{trans('Plentymarket::WebIndexIndex.deals_of_the_week')}}</h2>
					<p>{{trans('Plentymarket::WebIndexIndex.deals_of_the_week_desc')}}</p>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<!--=======  deal slider container  =======-->
						<div class="ptk-slider deal-slider-container">
							{%for item in product_deals.list%}
								<div class="col">
									<!--=======  single product  =======-->
									<div class="product-countdown" data-countdown="{{item.countdown.countdown}}"></div>
									<div class="ptk-product">
										<div class="image">
											<a href="/index/product/{{item.id}}">
												<img src="{{item.images.0}}" class="img-fluid" alt="">
											</a>
											<!--=======  hover icons  =======-->
											<a class="hover-icon preview" data-id="{{item.id}}" href="#"><i class="lnr lnr-eye"></i></a>
											<a class="hover-icon add_to_wishlist" data-id="{{item.variationId}}" href="#"><i class="lnr lnr-heart"></i></a>
											<a class="hover-icon add_to_cart" data-discount_price="{{item.discount_price}}" data-format_discount_price="{{item.format_discount_price}}" data-id="{{item.variationId}}" data-name="{{item.name}}" data-image="{{item.images.0}}" href="#"><i class="lnr lnr-cart"></i></a>
											<!--=======  End of hover icons  =======-->
											<!--=======  badge  =======-->
											<div class="product-badge">
												<span class="discount-badge">-8%</span>
											</div>
											<!--=======  End of badge  =======-->
										</div>
										<div class="content">
											<p class="product-title">
												<a href="/index/product/{{item.id}}">{{item.name}}</a></p>
											<p class="product-price">
												<span class="main-price discounted">{{item.format_main_price}}</span>
												<span class="discounted-price">{{item.format_discount_price}}</span>
											</p>
										</div>
										<div class="rating">
											<i class="lnr lnr-star active"></i>
											<i class="lnr lnr-star active"></i>
											<i class="lnr lnr-star active"></i>
											<i class="lnr lnr-star active"></i>
											<i class="lnr lnr-star active"></i>
										</div>
									</div>
									<!--=======  End of single product  =======-->
								</div>
							{%endfor%}
						</div>
						<!--=======  End of deal slider container  =======-->
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="section-title mb-40">
					<h2>Some <span>Popular</span> Products</h2>
					<p>We offer the best selection furniture at prices you will love!</p>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<!--=======  popular product slider  =======-->
						<div class="ptk-slider popular-product-slider" data-row="3">
							{%for item in product_popular.list%}
								<div class="col">
									<!--=======  single product  =======-->
									<div class="ptk-product d-flex">
										<div class="image">
											<a href="/index/product/{{item.id}}">
												<img src="{{item.images.0}}" class="img-fluid" alt="">
											</a>
										</div>
										<div class="content">
											<p class="product-title">
												<a href="/index/product/{{item.id}}">{{item.name}}</a></p>
											<p class="product-price">
												<span class="main-price discounted">{{item.format_main_price}}</span>
												<span class="discounted-price">{{item.format_discount_price}}</span>
											</p>
											<div class="rating rating-product-style-2">
												<i class="lnr lnr-star active"></i>
												<i class="lnr lnr-star active"></i>
												<i class="lnr lnr-star active"></i>
												<i class="lnr lnr-star active"></i>
												<i class="lnr lnr-star active"></i>
											</div>
										</div>
									</div>
									<!--=======  End of single product  =======-->
								</div>
							{%endfor%}
						</div>
						<!--=======  End of popular product slider  =======-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--=====  End of deal and propular product area  ======-->

<!--=============================================
=            container width banner         =
=============================================-->

<div class="containerwidth-banner-area mb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="/">
					<div class="banner containerwidth-banner-bg containerwidth-banner-bg-1">
						<div class="row  h-100">
							<div class="col-lg-4 offset-lg-8 col-md-12">
								<div class="banner-content d-flex flex-column align-items-center align-items-lg-start  justify-content-center h-100">
									<p class="normal-text">Living Room Furniture</p>
									<p class="color-text">Up to 50% Off</p>
									<p class="underline-text">Shop The Latest Style</p>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<!--=====  End of container width banner  ======-->

<!--=============================================
=            Top selling product section         =
=============================================-->

<div class="top-selling-product-area mb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center mb-40">
				<div class="section-title">
					<h2>{{trans('Plentymarket::WebIndexIndex.top_selling_products')}}</h2>
					<p>{{trans('Plentymarket::WebIndexIndex.top_selling_products_desc')}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<!--=======  top selling product slider container  =======-->

				<div class="ptk-slider top-selling-product-slider-container">
					{%for item in product_top.list%}
						<div class="col">
							<!--=======  single product  =======-->
							<div class="ptk-product">
								<div class="image">
									<a href="/index/product/{{item.id}}">
										<img src="{{item.images.0}}" class="img-fluid" alt="">
									</a>
									<!--=======  hover icons  =======-->
									<a class="hover-icon preview" data-id="{{item.id}}" href="#"><i class="lnr lnr-eye"></i></a>
									<a class="hover-icon add_to_wishlist" data-id="{{item.variationId}}" href="#"><i class="lnr lnr-heart"></i></a>
									<a class="hover-icon add_to_cart" data-discount_price="{{item.discount_price}}" data-format_discount_price="{{item.format_discount_price}}" data-id="{{item.variationId}}" data-name="{{item.name}}" data-image="{{item.images.0}}" href="#"><i class="lnr lnr-cart"></i></a>
									<!--=======  End of hover icons  =======-->
								</div>
								<div class="content">
									<p class="product-title"><a href="/index/product/{{item.id}}">{{item.name}}</a></p>
									<p class="product-price">
										<span class="main-price discounted">{{item.format_main_price}}</span>
										<span class="discounted-price">{{item.format_discount_price}}</span>
									</p>
								</div>
								<div class="rating">
									<i class="lnr lnr-star active"></i>
									<i class="lnr lnr-star active"></i>
									<i class="lnr lnr-star active"></i>
									<i class="lnr lnr-star active"></i>
									<i class="lnr lnr-star active"></i>
								</div>
							</div>
							<!--=======  End of single product  =======-->
						</div>
					{%endfor%}
				</div>

				<!--=======  End of top selling product slider container  =======-->
			</div>
		</div>
	</div>
</div>

<!--=====  End of Top selling product section  ======-->

<!--=============================================
=            Blog slider section         =
=============================================-->

<div class="blog-slider-section mb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center mb-40">
				<div class="section-title">
					<h2>{{trans('Plentymarket::WebIndexIndex.our_blog_posts')}}</h2>
					<p>{{trans('Plentymarket::WebIndexIndex.our_blog_posts_desc')}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<!--=============================================
				=            Blog slider container         =
				=============================================-->
				<div class="blog-post-slider-container ptk-slider">
					{%for article in category_blog%}
						<div class="col">
							<!--=======  single slider post  =======-->
							<div class="single-slider-blog-post">
								<div class="image">
									<a href="/index/blog/{{article.id}}">
										<img src="{{plugin_path("Plentymarket")}}/images/slider/blog/01.jpg" class="img-fluid" alt="">
									</a>
								</div>
								<div class="content">
									<p class="blog-title">
										<a href="/index/blog/{{article.id}}">{{article.data.post.title}}</a>
									</p>
									<a href="/index/blog/{{article.id}}" class="readmore-btn">{{trans('Plentymarket::WebIndexIndex.read_more')}}</a>
								</div>
							</div>
							<!--=======  End of single slider post  =======-->
						</div>
					{%endfor%}
				</div>
				<!--=====  End of Blog slider container  ======-->
			</div>
		</div>
	</div>
</div>

<!--=====  End of Blog slider section  ======-->

<!--=============================================
=            Quick view modal         =
=============================================-->

<div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-xs-12">
						<!-- product quickview image gallery -->
						<div class="product-image-slider quickview-product-image-slider flex-row-reverse">
							<!--Modal Tab Content Start-->
							<div class="tab-content product-large-image-list quickview-product-large-image-list">
							</div>
							<!--Modal Content End-->
							<!--Modal Tab Menu Start-->
							<div class="product-small-image-list quickview-product-small-image-list">
								<div class="nav small-image-slider quickview-small-image-slider" role="tablist">
								</div>
							</div>
							<!--Modal Tab Menu End-->
						</div>
						<!-- end of product quickview image gallery -->
					</div>
					<div class="col-lg-6 col-md-6 col-xs-12">
						<!-- product quick view description -->
						<div class="product-feature-details">
							<h2 class="product-title mb-15"></h2>
							<h2 class="product-price mb-15">
								<span class="main-price discounted"></span>
								<span class="discounted-price"></span>
								{#								<span class="discount-percentage">Save 8%</span>#}
							</h2>

							<p class="product-description mb-20"></p>
							<div class="cart-buttons mb-20">
								<div class="pro-qty mr-10">
									<input type="text" value="1">
								</div>
								<div class="add-to-cart-btn">
									<a href="#" class="pataku-btn">
										<i class="fa fa-shopping-cart"></i>
										{{trans('Plentymarket::WebIndexProductListCategory.add_to_cart')}}
									</a>
								</div>
							</div>
							<div class="social-share-buttons">
								<h3>{{trans('Plentymarket::WebIndexProductListCategory.share_this_product')}}</h3>
								<ul>
									<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<!-- end of product quick view description -->
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!--=====  End of Quick view modal  ======-->

{%include 'Plentymarket::common.footer'%}
<script type="text/javascript">
    $(".add_to_wishlist").on("click", function()
    {
        var _this = $(this);
        add_to_wishlist($(this).data("id"), function()
        {
            $("#wishlist-num").text(parseInt($("#wishlist-num").text()) + 1);
            _this.hide();
            spop({
                template: '{{trans('Plentymarket::WebIndexProduct.add_to_wishlist_success')}}',
                style: "success"
            });
        }, function()
        {
            spop({
                template: '{{trans('Plentymarket::WebIndexProduct.add_to_wishlist_failed')}}',
                style: "error"
            });
        });
    });

    $(".add_to_cart").on("click", function()
    {
        var quantity = 1;
        var variationId = $(this).data("id");
        var name = $(this).data("name");
        var image = $(this).data("image");
        var format_discount_price = $(this).data("format_discount_price");
        var discount_price = $(this).data("discount_price");
        addBasket(variationId, quantity, {
            name: name,
            image: image,
            format_discount_price: format_discount_price,
            discount_price: discount_price,
            variationId: variationId
        }, function(success)
        {
            if (success)
            {
                spop({
                    template: '{{trans('Plentymarket::WebIndexProduct.add_to_cart_success')}}',
                    style: "success"
                });
            }
            else
            {
                spop({
                    template: '{{trans('Plentymarket::WebIndexProduct.add_to_cart_failed')}}',
                    style: "error"
                });
            }
        });
    });

    //preview
    var hasSlick = false;
    $(".preview").on("click", function()
    {
        var id = $(this).data("id");
        $.get("/api/index/product/" + id, function(response)
        {
            if (hasSlick)
            {
                $(".quickview-small-image-slider").slick("unslick");
            }

            $(".modal .small-image-slider").empty();

            $(".modal .product-large-image-list").empty();
            $.each(response.data.images, function(index, value)
            {
                index = index + 1;

                var tpl = $("<div class=\"single-small-image img-full\">\n" +
                    "                                        <a data-toggle=\"tab\" id=\"single-slide-tab-quick-" + index + "\" href=\"#single-slide-quick-" + index + "\">\n" +
                    "                                            <img src=\"" + value + "\" class=\"img-fluid\" alt=\"\">\n" +
                    "                                        </a>\n" +
                    "                                    </div>");
                $(".modal .small-image-slider").append(tpl);
                // $(".quickview-small-image-slider").slickAdd(tpl);

                var first = index == 1 ? "show active" : "";

                var tpl = $("<div class=\"tab-pane fade " + first + "\" id=\"single-slide-quick-" + index + "\" role=\"tabpanel\" aria-labelledby=\"single-slide-tab-quick-" + index + "\">\n" +
                    "                                    <div class=\"single-product-img img-full\">\n" +
                    "                                        <img src=\"" + value + "\" class=\"img-fluid\" alt=\"\">\n" +
                    "                                    </div>\n" +
                    "                                </div>");
                $(".modal .product-large-image-list").append(tpl);
            });

            $(".modal .product-title").html(response.data.name);
            $(".modal .main-price").html(response.data.format_main_price);
            $(".modal .discounted-price").html(response.data.format_discount_price);
            $(".modal .product-description").html(response.data.short_desc);

            $(".modal .add-to-cart-btn").data("id", response.data.variationId);
            $(".modal .add-to-cart-btn").data("name", response.data.name);
            $(".modal .add-to-cart-btn").data("image", response.data.images[0]);
            $(".modal .add-to-cart-btn").data("format_discount_price", response.data.format_discount_price);
            $(".modal .add-to-cart-btn").data("discount_price", response.data.discount_price);


            $(".quickview-small-image-slider").slick({
                prevArrow: "<i class=\"fa fa-angle-up slick-prev\"></i>",
                nextArrow: "<i class=\"fa fa-angle-down slick-next\"></i>",
                slidesToShow: 3,
                vertical: true,
                responsive: [
                    {
                        breakpoint: 1499,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 1199,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 991,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 575,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 479,
                        settings: {
                            slidesToShow: 3
                        }
                    }
                ]
            });

            $(".small-image-slider").resize();
            $(".small-image-slider").slick("setPosition");

            hasSlick = true;

            $("#quick-view-modal-container").modal("show");

            $(".small-image-slider")[0].slick.refresh();
        });
        return false;
    });

    $(".modal .add-to-cart-btn").on("click", function()
    {
        var quantity = parseInt($(".modal .pro-qty input").val());
        var variationId = $(this).data("id");
        var name = $(this).data("name");
        var image = $(this).data("image");
        var format_discount_price = $(this).data("format_discount_price");
        var discount_price = $(this).data("discount_price");
        addBasket(variationId, quantity, {
            name: name,
            image: image,
            format_discount_price: format_discount_price,
            discount_price: discount_price,
            variationId: variationId
        }, function(success)
        {
            if (success)
            {
                spop({
                    template: '{{trans('Plentymarket::WebIndexProduct.add_to_cart_success')}}',
                    style: "success"
                });
            }
            else
            {
                spop({
                    template: '{{trans('Plentymarket::WebIndexProduct.add_to_cart_failed')}}',
                    style: "error"
                });
            }
        });
        return false;
    });
</script>
