{%include 'Plentymarket::common.header'%}
{%include 'Plentymarket::common.breadcrumb'%}

<!--=============================================
=            Login Register page content         =
=============================================-->

<div class="page-section mb-80">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
				<!-- Login Form s-->
				<form action="#" id="login">

					<div class="login-form">
						<h4 class="login-title">{{trans("Plentymarket::WebIndexLoginRegister.login")}}</h4>

						<div class="row">
							<div class="col-md-12 col-12 mb-20">
								<label>{{trans("Plentymarket::WebIndexLoginRegister.emailAddress")}}*</label>
								<input class="mb-0" type="email" name="email" required="required" placeholder="{{trans("Plentymarket::WebIndexLoginRegister.emailAddress")}}">
							</div>
							<div class="col-12 mb-20">
								<label>{{trans("Plentymarket::WebIndexLoginRegister.password")}}</label>
								<input class="mb-0" type="password" name="password" required="required" placeholder="{{trans("Plentymarket::WebIndexLoginRegister.password")}}">
							</div>
							<div class="col-md-8">

								<div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
									<input type="checkbox" id="remember_me">
									<label for="remember_me">{{trans("Plentymarket::WebIndexLoginRegister.rememberMe")}}</label>
								</div>

							</div>

							<div class="col-md-4 mt-10 mb-20 text-left text-md-right">
								<a href="#"> {{trans("Plentymarket::WebIndexLoginRegister.forgottenPassword")}}?</a>
							</div>

							<div class="col-md-12">
								<button class="register-button mt-0">{{trans("Plentymarket::WebIndexLoginRegister.login")}}</button>
							</div>

						</div>
					</div>

				</form>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
				<form action="#" id="register">
					<div class="login-form">
						<h4 class="login-title">{{trans("Plentymarket::WebIndexLoginRegister.register")}}</h4>
						<div class="row">
							<div class="col-md-12 mb-20">
								<label>{{trans("Plentymarket::WebIndexLoginRegister.emailAddress")}}*</label>
								<input class="mb-0" type="email" name="email" required="required" placeholder="{{trans("Plentymarket::WebIndexLoginRegister.emailAddress")}}">
							</div>
							<div class="col-md-6 mb-20">
								<label>{{trans("Plentymarket::WebIndexLoginRegister.password")}}</label>
								<input class="mb-0" type="password" name="password" required="required" placeholder="{{trans("Plentymarket::WebIndexLoginRegister.password")}}">
							</div>
							<div class="col-md-6 mb-20">
								<label>{{trans("Plentymarket::WebIndexLoginRegister.confirmPassword")}}</label>
								<input class="mb-0" type="password" name="repassword" required="required" placeholder="{{trans("Plentymarket::WebIndexLoginRegister.confirmPassword")}}">
							</div>
							<div class="col-12">
								<button class="register-button mt-0">{{trans("Plentymarket::WebIndexLoginRegister.register")}}</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--=====  End of Login Register page content  ======-->
{%include 'Plentymarket::common.footer'%}
<script type="text/javascript">
    $("#login").on("submit", function()
    {
        var email = $.trim($(this).find("input[name=email]").val());
        var password = $.trim($(this).find("input[name=password]").val());
        $.get("/api/index/login", {
            email: email,
            password: password
        }, function(response)
        {
            if (response.code == 1)
            {
                window.location = "/";
            }
            else
            {
                spop({
                    template: '{{trans('Plentymarket::WebIndexLoginRegister.emailOrPasswordError')}}',
                    style: "error"
                });
            }
        });
        return false;
    });

    $("#register").on("submit", function()
    {
        var email = $.trim($(this).find("input[name=email]").val());
        var password = $.trim($(this).find("input[name=password]").val());
        var repassword = $.trim($(this).find("input[name=repassword]").val());
        if (password != repassword)
        {
            spop({
                template: '{{trans('Plentymarket::WebIndexLoginRegister.RepasswordError')}}',
                style: "error"
            });
            return false;
        }
        $.get("/api/index/register", {
            email: email,
            password: password
        }, function(response)
        {
            if (response.code == 1)
            {
                window.location = "/";
            }
            else
            {
                spop({
                    template: '{{trans('Plentymarket::WebIndexLoginRegister.emailUsed')}}',
                    style: "error"
                });
            }
        });
        return false;
    });
</script>
