{%include 'Plentymarket::common.header'%}
{%include 'Plentymarket::common.breadcrumb'%}
<!--=============================================
=            shop page content         =
=============================================-->

<div class="shop-page-content mb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  shop header  =======-->

                <div class="shop-header mb-20">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-sm-20 d-flex align-items-center">
                            <!--=======  view mode  =======-->
                            <div class="view-mode-icons">
                                <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                <a href="#" data-target="list"><i class="fa fa-list"></i></a>
                            </div>
                            <p class="result-show-message">Showing {{page}}–{{page * 12}} of {{items.total}} results</p>
                            <!--=======  End of view mode  =======-->
                        </div>
                    </div>
                </div>

                <!--=======  End of shop header  =======-->

                <!--=======  shop product wrap   =======-->

                <div class="shop-product-wrap grid row">

                    {%for item in items.list%}

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <!--=======  grid view product  =======-->

                            <div class="ptk-product shop-grid-view-product">
                                <div class="image">
                                    <a href="/index/product/{{item.id}}">
                                        <img src="{{item.images.0}}" class="img-fluid" alt="" style="width: 255px;height: 306px;">
                                    </a>
                                    <!--=======  hover icons  =======-->
                                    <a class="hover-icon preview" data-id="{{item.id}}" href="#"><i class="lnr lnr-eye"></i></a>
                                    <a class="hover-icon add_to_wishlist" data-id="{{item.variationId}}"><i class="lnr lnr-heart"></i></a>
                                    <a class="hover-icon add_to_cart" data-discount_price="{{item.discount_price}}" data-format_discount_price="{{item.format_discount_price}}" data-id="{{item.variationId}}" data-name="{{item.name}}" data-image="{{item.images.0}}"><i class="lnr lnr-cart"></i></a>
                                    <!--=======  End of hover icons  =======-->
                                    <!--=======  badge  =======-->
                                    <!--
                                    <div class="product-badge">
                                        <span class="new-badge">NEW</span>
                                        <span class="discount-badge">-8%</span>
                                    </div>
                                    -->
                                    <!--=======  End of badge  =======-->
                                </div>
                                <div class="content">
                                    <p class="product-title"><a href="/index/product/{{item.id}}">{{item.name}}</a></p>
                                    <p class="product-price">
                                        <span class="main-price discounted">{{item.format_main_price}}</span>
                                        <span class="discounted-price">{{item.format_discount_price}}</span>
                                    </p>
                                </div>
                                <div class="rating">
                                    <i class="lnr lnr-star active"></i>
                                    <i class="lnr lnr-star active"></i>
                                    <i class="lnr lnr-star active"></i>
                                    <i class="lnr lnr-star active"></i>
                                    <i class="lnr lnr-star active"></i>
                                </div>
                            </div>

                            <!--=======  End of grid view product  =======-->

                            <!--=======  product list view  =======-->

                            <div class="ptk-product shop-list-view-product">
                                <div class="image">
                                    <a href="/index/product/{{item.id}}">
                                        <img src="{{item.images.0}}" class="img-fluid" alt="">
                                    </a>

                                    <!--=======  badge  =======-->

                                    {#                                    <div class="product-badge">#}
                                    {#                                        <span class="new-badge">NEW</span>#}
                                    {#                                        <span class="discount-badge">-8%</span>#}
                                    {#                                    </div>#}

                                    <!--=======  End of badge  =======-->

                                </div>
                                <div class="content">
                                    <p class="product-title"><a href="/index/product/{{item.id}}">{{item.name}}</a></p>
                                    <div class="rating ">
                                        <i class="lnr lnr-star active"></i>
                                        <i class="lnr lnr-star active"></i>
                                        <i class="lnr lnr-star active"></i>
                                        <i class="lnr lnr-star active"></i>
                                        <i class="lnr lnr-star active"></i>
                                    </div>
                                    <p class="product-price">
                                        <span class="main-price discounted">{{item.format_main_price}}</span>
                                        <span class="discounted-price">{{item.format_discount_price}}</span>
                                    </p>
                                    <p class="product-description">{{item.short_desc}}</p>
                                    <!--=======  hover icons  =======-->
                                    <div class="hover-icons">
                                        <a class="hover-icon preview" data-id="{{item.id}}}" href="#"><i class="lnr lnr-eye"></i></a>
                                        <a class="hover-icon" href="#"><i class="lnr lnr-heart"></i></a>
                                        <a class="hover-icon" href="#"><i class="lnr lnr-cart"></i></a>
                                    </div>
                                    <!--=======  End of hover icons  =======-->
                                </div>

                            </div>

                            <!--=======  End of product list view  =======-->
                        </div>
                    {%endfor%}
                </div>

                <!--=======  End of shop product wrap    =======-->

                {%if items.total > 12%}
                    <!--=======  pagination  =======-->
                    <div class="pagination-container mt-50 pb-20 mb-md-80 mb-sm-80">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 text-center text-md-left mb-sm-20">
                                <!--=======  showing result text  =======-->
                                <p class="show-result-text">Showing {{page}}-{{page*12}} of {{items.total}} item(s)</p>
                                <!--=======  End of showing result text  =======-->
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                {{paginate|raw}}
                            </div>
                        </div>
                    </div>
                    <!--=======  End of pagination  =======-->
                {%endif%}

            </div>
        </div>
    </div>
</div>

<!--=====  End of shop page content  ======-->

<!--=============================================
	=            Quick view modal         =
	=============================================-->

<div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <!-- product quickview image gallery -->
                        <div class="product-image-slider quickview-product-image-slider flex-row-reverse">
                            <!--Modal Tab Content Start-->
                            <div class="tab-content product-large-image-list quickview-product-large-image-list">
                            </div>
                            <!--Modal Content End-->
                            <!--Modal Tab Menu Start-->
                            <div class="product-small-image-list quickview-product-small-image-list">
                                <div class="nav small-image-slider quickview-small-image-slider" role="tablist">
                                </div>
                            </div>
                            <!--Modal Tab Menu End-->
                        </div>
                        <!-- end of product quickview image gallery -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <!-- product quick view description -->
                        <div class="product-feature-details">
                            <h2 class="product-title mb-15"></h2>

                            <h2 class="product-price mb-15">
                                <span class="main-price discounted"></span>
                                <span class="discounted-price"></span>
                                {#                                <span class="discount-percentage">Save 8%</span>#}
                            </h2>
                            <p class="product-description mb-20"></p>
                            <div class="cart-buttons mb-20">
                                <div class="pro-qty mr-10">
                                    <input type="text" value="1">
                                </div>
                                <div class="add-to-cart-btn">
                                    <a href="" class="pataku-btn">
                                        <i class="fa fa-shopping-cart"></i>
                                        {{trans('Plentymarket::WebIndexProductListCategory.add_to_cart')}}
                                    </a>
                                </div>
                            </div>

                            <div class="social-share-buttons">
                                <h3>{{trans('Plentymarket::WebIndexProductListCategory.share_this_product')}}</h3>
                                <ul>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end of product quick view description -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--=====  End of Quick view modal  ======-->
{%include 'Plentymarket::common.footer'%}
<script type="text/javascript">
    $(".add_to_wishlist").on("click", function()
    {
        var _this = $(this);
        add_to_wishlist($(this).data("id"), function()
        {
            $("#wishlist-num").text(parseInt($("#wishlist-num").text()) + 1);
            _this.hide();
            spop({
                template: '{{trans('Plentymarket::WebIndexProduct.add_to_wishlist_success')}}',
                style: "success"
            });
        }, function()
        {
            spop({
                template: '{{trans('Plentymarket::WebIndexProduct.add_to_wishlist_failed')}}',
                style: "error"
            });
        });
        return false;
    });

    $(".add_to_cart").on("click", function()
    {
        var quantity = 1;
        var variationId = $(this).data("id");
        var name = $(this).data("name");
        var image = $(this).data("image");
        var format_discount_price = $(this).data("format_discount_price");
        var discount_price = $(this).data("discount_price");
        addBasket(variationId, quantity, {
            name: name,
            image: image,
            format_discount_price: format_discount_price,
            discount_price: discount_price,
            variationId: variationId
        }, function(success)
        {
            if (success)
            {
                spop({
                    template: '{{trans('Plentymarket::WebIndexProduct.add_to_cart_success')}}',
                    style: "success"
                });
            }
            else
            {
                spop({
                    template: '{{trans('Plentymarket::WebIndexProduct.add_to_cart_failed')}}',
                    style: "error"
                });
            }
        });
        return false;
    });

    //preview
    var hasSlick = false;
    $(".preview").on("click", function()
    {
        var id = $(this).data("id");
        $.get("/api/index/product/" + id, function(response)
        {
            if (hasSlick)
            {
                $(".quickview-small-image-slider").slick("unslick");
            }

            $(".modal .small-image-slider").empty();

            $(".modal .product-large-image-list").empty();
            $.each(response.data.images, function(index, value)
            {
                index = index + 1;

                var tpl = $("<div class=\"single-small-image img-full\">\n" +
                    "                                        <a data-toggle=\"tab\" id=\"single-slide-tab-quick-" + index + "\" href=\"#single-slide-quick-" + index + "\">\n" +
                    "                                            <img src=\"" + value + "\" class=\"img-fluid\" alt=\"\">\n" +
                    "                                        </a>\n" +
                    "                                    </div>");
                $(".modal .small-image-slider").append(tpl);
                // $(".quickview-small-image-slider").slickAdd(tpl);

                var first = index == 1 ? "show active" : "";

                var tpl = $("<div class=\"tab-pane fade " + first + "\" id=\"single-slide-quick-" + index + "\" role=\"tabpanel\" aria-labelledby=\"single-slide-tab-quick-" + index + "\">\n" +
                    "                                    <div class=\"single-product-img img-full\">\n" +
                    "                                        <img src=\"" + value + "\" class=\"img-fluid\" alt=\"\">\n" +
                    "                                    </div>\n" +
                    "                                </div>");
                $(".modal .product-large-image-list").append(tpl);
            });

            $(".modal .product-title").html(response.data.name);
            $(".modal .main-price").html(response.data.format_main_price);
            $(".modal .discounted-price").html(response.data.format_discount_price);
            $(".modal .product-description").html(response.data.short_desc);

            $(".modal .add-to-cart-btn").data("id", response.data.variationId);
            $(".modal .add-to-cart-btn").data("name", response.data.name);
            $(".modal .add-to-cart-btn").data("image", response.data.images[0]);
            $(".modal .add-to-cart-btn").data("format_discount_price", response.data.format_discount_price);
            $(".modal .add-to-cart-btn").data("discount_price", response.data.discount_price);


            $(".quickview-small-image-slider").slick({
                prevArrow: "<i class=\"fa fa-angle-up slick-prev\"></i>",
                nextArrow: "<i class=\"fa fa-angle-down slick-next\"></i>",
                slidesToShow: 3,
                vertical: true,
                responsive: [
                    {
                        breakpoint: 1499,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 1199,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 991,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 575,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 479,
                        settings: {
                            slidesToShow: 3
                        }
                    }
                ]
            });

            $(".small-image-slider").resize();
            $(".small-image-slider").slick("setPosition");

            hasSlick = true;

            $("#quick-view-modal-container").modal("show");

            $(".small-image-slider")[0].slick.refresh();
        });
        return false;
    });

    $(".modal .add-to-cart-btn").on("click", function()
    {
        var quantity = parseInt($(".modal .pro-qty input").val());
        var variationId = $(this).data("id");
        var name = $(this).data("name");
        var image = $(this).data("image");
        var format_discount_price = $(this).data("format_discount_price");
        var discount_price = $(this).data("discount_price");
        addBasket(variationId, quantity, {
            name: name,
            image: image,
            format_discount_price: format_discount_price,
            discount_price: discount_price,
            variationId: variationId
        }, function(success)
        {
            if (success)
            {
                spop({
                    template: '{{trans('Plentymarket::WebIndexProduct.add_to_cart_success')}}',
                    style: "success"
                });
            }
            else
            {
                spop({
                    template: '{{trans('Plentymarket::WebIndexProduct.add_to_cart_failed')}}',
                    style: "error"
                });
            }
        });
        return false;
    });
</script>
