{%include 'Plentymarket::common.header'%}
{%include 'Plentymarket::common.breadcrumb'%}
<!--=============================================
=            shop page content         =
=============================================-->

<div class="shop-page-content mb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  shop header  =======-->

                <div class="shop-header mb-20">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-sm-20 d-flex align-items-center">
                            <!--=======  view mode  =======-->

                            <div class="view-mode-icons">
                                <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                <a href="#" data-target="list"><i class="fa fa-list"></i></a>
                            </div>

                            <p class="result-show-message">Showing {{page}}–{{page * 12}} of {{items.total}} results</p>

                            <!--=======  End of view mode  =======-->

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column flex-sm-row justify-content-start justify-content-md-end align-items-sm-center">

                            <!--=======  Sort by dropdown  =======-->

                            <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">
                                <p class="mr-10 mb-0">Sort By: </p>
                                <select name="sort-by" id="sort-by" class="nice-select">
                                    <option value="0">Sort By Popularity</option>
                                    <option value="0">Sort By Average Rating</option>
                                    <option value="0">Sort By Newness</option>
                                    <option value="0">Sort By Price: Low to High</option>
                                    <option value="0">Sort By Price: High to Low</option>
                                </select>
                            </div>

                            <!--=======  End of Sort by dropdown  =======-->


                        </div>
                    </div>
                </div>

                <!--=======  End of shop header  =======-->

                <!--=======  shop product wrap   =======-->

                <div class="shop-product-wrap grid row">

                    {%for item in items.list%}

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <!--=======  grid view product  =======-->

                            <div class="ptk-product shop-grid-view-product">
                                <div class="image">
                                    <a href="/index/product/{item.id}">
                                        <img src="{{item.images.0}}" class="img-fluid" alt="">
                                    </a>
                                    <!--=======  hover icons  =======-->

                                    <a class="hover-icon" href="#" data-toggle="modal" data-target="#quick-view-modal-container"><i class="lnr lnr-eye"></i></a>
                                    <a class="hover-icon" href="#"><i class="lnr lnr-heart"></i></a>
                                    <a class="hover-icon" href="#"><i class="lnr lnr-cart"></i></a>

                                    <!--=======  End of hover icons  =======-->

                                    <!--=======  badge  =======-->

                                    <div class="product-badge">
                                        <span class="new-badge">NEW</span>
                                        <span class="discount-badge">-8%</span>
                                    </div>

                                    <!--=======  End of badge  =======-->

                                </div>
                                <div class="content">
                                    <p class="product-title"><a href="/index/product/{item.id}">Field Messenger</a></p>
                                    <p class="product-price">
                                        <span class="main-price discounted">{{item.format_main_price}}</span>
                                        <span class="discounted-price">{{item.format_discount_price}}</span>
                                    </p>
                                </div>
                                <div class="rating">
                                    <i class="lnr lnr-star active"></i>
                                    <i class="lnr lnr-star active"></i>
                                    <i class="lnr lnr-star active"></i>
                                    <i class="lnr lnr-star active"></i>
                                    <i class="lnr lnr-star"></i>
                                </div>
                            </div>

                            <!--=======  End of grid view product  =======-->

                            <!--=======  product list view  =======-->

                            <div class="ptk-product shop-list-view-product">
                                <div class="image">
                                    <a href="/index/product/{item.id}">
                                        <img src="assets/images/products/product01.jpg" class="img-fluid" alt="">
                                    </a>

                                    <!--=======  badge  =======-->

                                    <div class="product-badge">
                                        <span class="new-badge">NEW</span>
                                        <span class="discount-badge">-8%</span>
                                    </div>

                                    <!--=======  End of badge  =======-->

                                </div>
                                <div class="content">
                                    <p class="product-title"><a href="/index/product/{item.id}">{{item.name}}</a></p>
                                    <div class="rating ">
                                        <i class="lnr lnr-star active"></i>
                                        <i class="lnr lnr-star active"></i>
                                        <i class="lnr lnr-star active"></i>
                                        <i class="lnr lnr-star active"></i>
                                        <i class="lnr lnr-star"></i>
                                    </div>
                                    <p class="product-price">
                                        <span class="main-price discounted">{{item.format_main_price}}</span>
                                        <span class="discounted-price">{{item.format_discount_price}}</span>
                                    </p>
                                    <p class="product-description">{{item.desc}}</p>
                                    <!--=======  hover icons  =======-->
                                    <div class="hover-icons">
                                        <a class="hover-icon" href="#" data-toggle="modal" data-target="#quick-view-modal-container"><i class="lnr lnr-eye"></i></a>
                                        <a class="hover-icon" href="#"><i class="lnr lnr-heart"></i></a>
                                        <a class="hover-icon" href="#"><i class="lnr lnr-cart"></i></a>
                                    </div>
                                    <!--=======  End of hover icons  =======-->
                                </div>

                            </div>

                            <!--=======  End of product list view  =======-->
                        </div>
                    {%endfor%}
                </div>

                <!--=======  End of shop product wrap    =======-->

                <!--=======  pagination  =======-->

                <div class="pagination-container mt-50 pb-20 mb-md-80 mb-sm-80">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 text-center text-md-left mb-sm-20">
                            <!--=======  showing result text  =======-->

                            <p class="show-result-text">Showing {{page}}-{{page*12}} of {{items.total}} item(s)</p>

                            <!--=======  End of showing result text  =======-->
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <!--=======  pagination-content  =======-->

                            <div class="pagination-content text-center text-md-right">
                                <ul>
                                    <li><a href="?page={{page-1}}"><i class="fa fa-angle-left"></i> Previous</a></li>

                                    {%for i in 1..{{ (items.total / 12)|ceil }}%}
                                        <li><a {%if page == i%}class="active"{%endif%} href="?page={{i}}">{{i}}</a></li>
                                    {%endfor%}

                                    <li><a href="?page={{page+1}}">Next <i class="fa fa-angle-right"></i> </a></li>
                                </ul>
                            </div>

                            <!--=======  End of pagination-content  =======-->
                        </div>
                    </div>
                </div>

                <!--=======  End of pagination  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of shop page content  ======-->

<!--=============================================
	=            Quick view modal         =
	=============================================-->

<div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <!-- product quickview image gallery -->
                        <div class="product-image-slider quickview-product-image-slider flex-row-reverse">
                            <!--Modal Tab Content Start-->
                            <div class="tab-content product-large-image-list quickview-product-large-image-list">
                                <div class="tab-pane fade show active" id="single-slide-quick-1" role="tabpanel" aria-labelledby="single-slide-tab-quick-1">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="assets/images/single-product-slider/01.jpg" class="img-fluid" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide-quick-2" role="tabpanel" aria-labelledby="single-slide-tab-quick-2">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="assets/images/single-product-slider/02.jpg" class="img-fluid" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide-quick-3" role="tabpanel" aria-labelledby="single-slide-tab-quick-3">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="assets/images/single-product-slider/03.jpg" class="img-fluid" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide-quick-4" role="tabpanel" aria-labelledby="single-slide-tab-quick-4">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="assets/images/single-product-slider/04.jpg" class="img-fluid" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                            </div>
                            <!--Modal Content End-->
                            <!--Modal Tab Menu Start-->
                            <div class="product-small-image-list quickview-product-small-image-list">
                                <div class="nav small-image-slider quickview-small-image-slider" role="tablist">
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" id="single-slide-tab-quick-1" href="#single-slide-quick-1"><img src="assets/images/single-product-slider/01.jpg"
                                                                                                                             class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" id="single-slide-tab-quick-2" href="#single-slide-quick-2"><img src="assets/images/single-product-slider/02.jpg"
                                                                                                                             class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" id="single-slide-tab-quick-3" href="#single-slide-quick-3"><img src="assets/images/single-product-slider/03.jpg"
                                                                                                                             class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" id="single-slide-tab-quick-4" href="#single-slide-quick-4"><img src="assets/images/single-product-slider/04.jpg"
                                                                                                                             alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!--Modal Tab Menu End-->
                        </div>
                        <!-- end of product quickview image gallery -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <!-- product quick view description -->
                        <div class="product-feature-details">
                            <h2 class="product-title mb-15">Kaoreet lobortis sagittis laoreet</h2>

                            <h2 class="product-price mb-15">
                                <span class="main-price discounted">$12.90</span>
                                <span class="discounted-price"> $10.00</span>
                                <span class="discount-percentage">Save 8%</span>
                            </h2>

                            <p class="product-description mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis
                                vulputate, tristique ut lectus</p>


                            <div class="cart-buttons mb-20">
                                <div class="pro-qty mr-10">
                                    <input type="text" value="1">
                                </div>
                                <div class="add-to-cart-btn">
                                    <a href="#" class="pataku-btn"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>


                            <div class="social-share-buttons">
                                <h3>share this product</h3>
                                <ul>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end of product quick view description -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--=====  End of Quick view modal  ======-->
{%include 'Plentymarket::common.footer'%}
