{%include 'Plentymarket::common.header'%}
{%include 'Plentymarket::common.breadcrumb'%}

<!--=============================================
=            Cart page content         =
=============================================-->

<div class="page-section mb-80">
	<div class="container">
		<div class="row">
			<div class="col-12">
				{%if list|length > 0%}
					<form action="#">
						<!--=======  cart table  =======-->

						<div class="cart-table table-responsive mb-40">
							<table class="table">
								<thead>
								<tr>
									<th class="pro-thumbnail">{{trans('Plentymarket::WebAccountCart.image')}}</th>
									<th class="pro-title">{{trans('Plentymarket::WebAccountCart.product')}}</th>
									<th class="pro-price">{{trans('Plentymarket::WebAccountCart.price')}}</th>
									<th class="pro-vat">{{trans('Plentymarket::WebAccountCart.vat')}}</th>
								<th class="pro-quantity">{{trans('Plentymarket::WebAccountCart.quantity')}}</th>
								<th class="pro-subtotal">{{trans('Plentymarket::WebAccountCart.total')}}</th>
								<th class="pro-remove">{{trans('Plentymarket::WebAccountCart.remove')}}</th>
							</tr>
							</thead>
							<tbody>
							{%for item in list%}
								<tr>
									<td class="pro-thumbnail">
										<a href="/index/product/{{item.id}}"><img src="{{item.images.0}}" class="img-fluid" alt="Product"></a>
									</td>
									<td class="pro-title"><a href="/index/product/{{item.id}}">{{item.name}}</a></td>
									<td class="pro-price"><span>{{item.format_discount_price}}</span></td>
									<td class="pro-vat"><span>{{item.vat_price}}</span></td>
									<td class="pro-quantity">
										<div class="pro-qty" data-id="{{item.basketItemId}}">
											<input type="text" value="{{item.quantity}}" min="{{item.min_num}}" max="{{item.stock}}">
										</div>
									</td>
									<td class="pro-subtotal"><span>{{item.format_discount_price_quantity}}</span></td>
									<td class="pro-remove" data-id="{{item.basketItemId}}">
										<a href="#"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
							{%endfor%}
							</tbody>
							</table>
						</div>

						<!--=======  End of cart table  =======-->


					</form>
					<div class="row">

						<div class="col-lg-6 col-12">
							<!--=======  Calculate Shipping  =======-->

							<div class="calculate-shipping">
								<h4>Calculate Shipping</h4>
								<form id="ship_form">
									<div class="row">
										<div class="col-md-6 col-12 mb-25">
											<select class="nice-select" id="country">
											{%for c in country%}
												<option value="{{c.id}}">{{c.name}}</option>
											{%endfor%}
										</select>
									</div>
									<div class="col-md-6 col-12 mb-25">
										<select class="nice-select" id="state">
										</select>
									</div>
									<div class="col-md-6 col-12 mb-25">
										<input type="text" placeholder="Postcode / Zip">
									</div>
									<div class="col-md-6 col-12 mb-25">
										<input type="submit" value="Estimate">
									</div>
								</div>
							</form>
						</div>

						<!--=======  End of Calculate Shipping  =======-->

						<!--=======  Discount Coupon  =======-->

						<div class="discount-coupon">
							<h4>{{trans('Plentymarket::WebAccountCart.discount_coupon_code')}}</h4>
							<form id="coupon_form">
								<div class="row">
									<div class="col-md-6 col-12 mb-25">
										<input type="text" placeholder="{{trans('Plentymarket::WebAccountCart.coupon_code')}}">
									</div>
									<div class="col-md-6 col-12 mb-25">
										<input type="submit" value="{{trans('Plentymarket::WebAccountCart.apply_code')}}">
									</div>
								</div>
							</form>
						</div>

						<!--=======  End of Discount Coupon  =======-->

					</div>


					<div class="col-lg-6 col-12 d-flex">
						<!--=======  Cart summery  =======-->

						<div class="cart-summary">
							<div class="cart-summary-wrap">
								<h4>{{trans('Plentymarket::WebAccountCart.cart_summary')}}</h4>
								<p>{{trans('Plentymarket::WebAccountCart.sub_total')}}<span>{{total}}</span></p>
								<p>{{trans('Plentymarket::WebAccountCart.vat')}}<span>{{vat}}</span></p>
								<p>{{trans('Plentymarket::WebAccountCart.shipping_cost')}}<span>{{ship}}</span></p>
								<h2>{{trans('Plentymarket::WebAccountCart.grand_total')}} <span>{{summary}}</span></h2>
							</div>
							<div class="cart-summary-button">
								<button class="checkout-btn">{{trans('Plentymarket::WebAccountCart.checkout')}}</button>
								<button class="update-btn">{{trans('Plentymarket::WebAccountCart.update_cart')}}</button>
							</div>
						</div>

						<!--=======  End of Cart summery  =======-->

					</div>

					</div>
				{%else%}
					<div class="cart empty">
						<div class="page-title" style="border-bottom: 1px solid #000;">
							<h1>{{trans('Plentymarket::WebAccountCart.shopping_basket')}}</h1>
						</div>
						<div class="cart-empty">
							<p style="background-color: #fefad7;
    padding: 15px;
    margin-top: 15px;font-size: 14px;
    font-weight: 400;">{{trans('Plentymarket::WebAccountCart.basket_empty_desc')}}</p>
							<div class="buttons-set">
								<a href="/" title="{{trans('Plentymarket::WebAccountCart.continue_shopping')}}" class="checkout-btn" style="font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1e1e1e;
    border-color: #1e1e1e;    padding: 15px;">
									<span class="button_label">{{trans('Plentymarket::WebAccountCart.continue_shopping')}}</span>
								</a>
							</div>
						</div>
					</div>
				{%endif%}
			</div>
		</div>
	</div>
</div>

<!--=====  End of Cart page content  ======-->
{%include 'Plentymarket::common.footer'%}
<script type="text/javascript">
    $("#ship_form").on("submit", function()
    {
        return false;
    });
    $("#coupon_form").on("submit", function()
    {
        spop({
            template: '{{trans('Plentymarket::WebAccountCart.coupon_not_avaliable')}}',
            style: "error"
        });

        return false;
    });

    function htmlRestore(str)
    {
        var s = "";
        if (str.length === 0)
        {
            return "";
        }
        s = str.replace(/&amp;/g, "&");
        s = s.replace(/&lt;/g, "<");
        s = s.replace(/&gt;/g, ">");
        s = s.replace(/&nbsp;/g, " ");
        s = s.replace(/&#39;/g, "\'");
        s = s.replace(/&quot;/g, "\"");
        return s;
    }

    var cart = JSON.parse(htmlRestore('{{virtual_cart}}'));

    $(".pro-qty input").on("change", function()
    {
        var id = $(this).parent(".pro-qty").data("id");
        var num = $(this).val();
        $.each(cart, function(key, value)
        {
            if (value.id == id)
            {
                cart[key].quantity = num;
            }
        });
    });

    $(".pro-remove").on("click", function()
    {
        var id = $(this).data("id");
        $.each(cart, function(key, value)
        {
            if (value.id == id)
            {
                cart[key].quantity = 0;
            }
        });
        $(this).parents("tr").remove();
    });

    $(".update-btn").on("click", function()
    {
        $.get("/api/basket/update", { cart: JSON.stringify(cart) }, function(response)
        {
            if (response.code == 1)
            {
                window.location.reload();
            }
        });
        return false;
    });

    var loadState = function(country_id)
    {
        $("#state").empty();
        $.get("/api/index/state", { country_id: country_id }, function(response)
        {
            response = JSON.parse(response);
            $.each(response.data, function(key, value)
            {
                if (value.country_id == country_id)
                {
                    $("#state").append("<option value=\"" + value.id + "\">" + value.name + "</option>");
                }
            });
            $("#state").niceSelect("update");
        });
    };
    loadState($("#country").val());
    $("#country").on("change", function()
    {
        loadState($(this).val());
    });
</script>
