{%include 'Plentymarket::common.header'%}
{%include 'Plentymarket::common.breadcrumb'%}

<!--=============================================
=            Checkout page content         =
=============================================-->

<div class="page-section mb-80">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Checkout Form s-->
				<div id="create-order-form" class="checkout-form">
					<div class="row row-40">
						<div class="col-lg-7 mb-20">

							<!-- Shipping Address -->
							<div id="billing-form" class="mb-40">
								<h4 class="checkout-title">Shipping Address</h4>
								<div class="row">
									<div class="address-list col-md-12 col-12 mb-20">

										{%for address in addresses%}
											<div class="address {%if loop.first%}selected{%endif%}" data-id="{{address.id}}">
												<div class="address-name">
													{{address.name2}} {{address.name3}}
												</div>
												<div class="address-address">
													{{address.address1}}
												</div>
												<div class="address-mobile">
													{{address.phone}}
												</div>
												<button class="address-select">
													使用这个地址
												</button>
											</div>
										{%endfor%}
									</div>
									<div class="col-md-12 col-12 mb-20">
										<button class="create-address">添加一个新地址</button>
									</div>
								</div>
							</div>

							<!-- Shipping Address -->
							<form id="shipping-form" class="mb-40">
								<h4 class="checkout-title">New Address</h4>

								<div class="row">

									<div class="col-md-6 col-12 mb-20">
										<label>First Name*</label>
										<input type="text" placeholder="First Name" name="first_name">
									</div>

									<div class="col-md-6 col-12 mb-20">
										<label>Last Name*</label>
										<input type="text" placeholder="Last Name" name="second_name">
									</div>

									<div class="col-md-6 col-12 mb-20">
										<label>Email Address*</label>
										<input type="email" placeholder="Email Address" name="email">
									</div>

									<div class="col-md-6 col-12 mb-20">
										<label>Phone no*</label>
										<input type="text" placeholder="Phone number" name="phone">
									</div>

									<div class="col-12 mb-20">
										<label>Company Name</label>
										<input type="text" placeholder="Company Name" name="company_name">
									</div>

									<div class="col-12 mb-20">
										<label>Address*</label>
										<input type="text" placeholder="Address line 1" name="address1">
										<input type="text" placeholder="Address line 2" name="address2">
									</div>

									<div class="col-md-6 col-12 mb-20">
										<label>Country*</label>
										<select class="nice-select" name="country">
											{%for c in country%}
												<option value="{{c.id}}">{{c.name}}</option>
											{%endfor%}
										</select>
									</div>

									<div class="col-md-6 col-12 mb-20">
										<label>State*</label>
										<select class="nice-select" name="state">
										</select>
									</div>

									<div class="col-md-6 col-12 mb-20">
										<label>Town/City*</label>
										<input type="text" placeholder="Town/City" name="town">
									</div>

									<div class="col-md-6 col-12 mb-20">
										<label>Zip Code</label>
										<input type="text" placeholder="Zip Code" name="zipcode">
									</div>

								</div>

								<div class="col-md-12 col-12 mb-20">
									<button class="save-address">保存</button>
								</div>

							</form>

						</div>
						<div class="col-lg-5">
							<div class="row">
								<!-- Cart Total -->
								<div class="col-12 mb-60">
									<h4 class="checkout-title">Cart Total</h4>
									<div class="checkout-cart-total">
										<h4>Product <span>Total</span></h4>
										<ul>
											{%for item in items%}
												<li>{{item.name}} X {{item.quantity}}
													<span>{{item.format_discount_price_quantity}}</span></li>
											{%endfor%}
										</ul>
										<p>Sub Total <span>{{total}}</span></p>
										<p>Shipping Fee <span>{{ship}}</span></p>
										<h4>Grand Total <span>{{total}}</span></h4>
									</div>
								</div>
								<!-- Payment Method -->
								<div class="col-12">
									<h4 class="checkout-title">Payment Method</h4>
									<div class="checkout-payment-method">
										{%for payment in paymentList%}
											<div class="single-method">
												<input checked="checked" type="radio" id="{{payment.id}}" name="payment-method" value="paypal">
												<label for="payment_paypal">Paypal</label>
												<p data-method="paypal">Paypay payment</p>
											</div>
										{%endfor%}
										<div class="single-method">
											<input type="checkbox" id="accept_terms">
											<label for="accept_terms">I’ve read and accept the terms &
											                          conditions</label>
										</div>
									</div>
									<button class="place-order">Place order</button>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--=====  End of Checkout page content  ======-->
{%include 'Plentymarket::common.footer'%}

<script type="text/html" id="address-tpl">
	<div class="address" data-id="[id]">
		<div class="address-name">
			[first_name] [second_name]
		</div>
		<div class="address-address">
			[address1]
		</div>
		<div class="address-mobile">
			[phone]
		</div>
		<button class="address-select">
			使用这个地址
		</button>
	</div>
</script>
<script type="text/javascript">

    $(".place-order").on("click", function()
    {
        if ($("#accept_terms:checked").length == 0)
        {
            spop({
                template: '{{trans('Plentymarket::WebAccountCheckout.accept_terms')}}',
                style: "error"
            });
            return false;
        }

        if ($("input[name=payment-method]:checked").length == 0)
        {
            spop({
                template: '{{trans('Plentymarket::WebAccountCheckout.choice_payment')}}',
                style: "error"
            });
            return false;
        }

        $.get("/api/order/create", { address_id: $(".address.selected").data("id"), comment: "" }, function(response)
        {
            if (response.code == 1)
            {

            }
            else
            {
                spop({
                    template: response.message,
                    style: "error"
                });
            }
        });
    });

    $("#shipping-form").validate({
        rules: {
            first_name: {
                required: true,
                maxlength: 32
            },
            second_name: {
                required: true,
                maxlength: 32
            },
            email: {
                required: true,
                email: true
            },
            phone: {
                required: true
            },
            address1: {
                required: {
                    depends: function()
                    {
                        return ($.trim($("input[name=address2]").val()).length <= 0);
                    }
                }
            },
            address2: {
                required: {
                    depends: function()
                    {
                        return ($.trim($("input[name=address1]").val()).length <= 0);
                    }
                }
            },
            country: {
                required: true
            },
            state: {
                required: true
            },
            town: {
                required: true
            }
        },
        errorPlacement: function(error, element)
        {
            error.css({
                color: "#f4516c",
                marginTop: "0.2rem",
                fontSize: "0.85rem",
                fontFamily: "Poppins",
                lineHeight: "1.5",
                paddingLeft: "5px"
            });
            error.appendTo(element.parent());
        },
        focusInvalid: true,
        errorClass: "col-offset-2 error",
        success: function(error, element)
        {
            error.remove();
        },
        highlight: function(element)
        {
            $(element).css({
                borderColor: "#f4516c"
            });
        },
        submitHandler: function()
        {
            var data = {
                first_name: $.trim($("input[name=first_name]").val()),
                second_name: $.trim($("input[name=second_name]").val()),
                company_name: $.trim($("input[name=company_name]").val()),
                email: $.trim($("input[name=email]").val()),
                phone: $.trim($("input[name=phone]").val()),
                address1: $.trim($("input[name=address1]").val()),
                address2: $.trim($("input[name=address2]").val()),
                country: $.trim($("select[name=country]").val()),
                state: $.trim($("select[name=state]").val()),
                town: $.trim($("input[name=town]").val()),
                zipcode: $.trim($("input[name=zipcode]").val())
            };
            $.get("/api/address/create", data, function(response)
            {
                if (response.code == 1)
                {
                    data.id = response.data.id;
                    var reg = new RegExp("\\[([^\\[\\]]*?)\\]", "igm");
                    var address = $($("#address-tpl").html().replace(reg, function(key, value)
                    {
                        return data[value];
                    }));
                    address.appendTo($(".address-list"));
                    address.find(".address-select").trigger("click");

                    $("#shipping-form").slideUp();
                    $(".create-address").parent().fadeIn();
                }
                else
                {
                    spop({
                        template: '{{trans('Plentymarket::WebAccountCheckout.create_address_failed')}}',
                        style: "error"
                    });
                }
            });
            return false;
        }
    });

    var loadState = function(country_id)
    {
        $("#state").empty();
        $.get("/api/index/state", { country_id: country_id }, function(response)
        {
            $.each(response.data, function(key, value)
            {
                if (value.country_id == country_id)
                {
                    $("#state").append("<option value=\"" + value.id + "\">" + value.name + "</option>");
                }
            });
            $("#state").niceSelect("update");
        });
    };
    loadState($("#country").val());
    $("#country").on("change", function()
    {
        loadState($(this).val());
    });
</script>
