{%include 'Plentymarket::common.header'%}
{%include 'Plentymarket::common.breadcrumb'%}

<!--=============================================
=            Wishlist page content         =
=============================================-->

<div class="page-section mb-80">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form action="#">
					<!--=======  wishlist table  =======-->

					<div class="cart-table table-responsive">
						<table class="table">
							<thead>
							<tr>
								<th class="pro-thumbnail">{{trans('Plentymarket::WebAccountCart.image')}}</th>
								<th class="pro-title">{{trans('Plentymarket::WebAccountCart.product')}}</th>
								<th class="pro-price">{{trans('Plentymarket::WebAccountCart.price')}}</th>
								<th class="pro-vat">{{trans('Plentymarket::WebAccountCart.vat')}}</th>
								<th class="pro-remove">{{trans('Plentymarket::WebAccountCart.remove')}}</th>
							</tr>
							</thead>
							<tbody>
							{%for item in list%}
								<tr>
									<td class="pro-thumbnail">
										<a href="/index/product/{{item.id}}"><img src="{{item.images.0}}" class="img-fluid" alt="Product"></a>
									</td>
									<td class="pro-title"><a href="/index/product/{{item.id}}">{{item.name}}</a></td>
									<td class="pro-price"><span>{{item.format_discount_price}}</span></td>
									<td class="pro-vat"><span>{{item.vat_price}}</span></td>
									<td class="pro-remove" data-id="{{item.variationId}}">
										<a href="#"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
							{%endfor%}
							</tbody>
						</table>
					</div>

					<!--=======  End of wishlist table  =======-->

				</form>
			</div>
		</div>
	</div>
</div>

<!--=====  End of Wishlist page content  ======-->
{%include 'Plentymarket::common.footer'%}
<script type="text/javascript">
    $(".pro-remove").on("click", function()
    {
        var tr = $(this).parents("tr");
        var id = $(this).data("id");
        $.get("/api/wishlist/delete/" + id, function(response)
        {
            response = JSON.parse(response);
            if (response.code == 1)
            {
                tr.remove();
                $("#wishlist-num").text(parseInt($("#wishlist-num").text()) - 1);
            }
            else
            {
                spop({
                    template: "system_error!",
                    style: "error"
                });
            }
        });
        return false;
    });
</script>
