{%include 'Plentymarket::common.header'%}
{%include 'Plentymarket::common.breadcrumb'%}

<!--=============================================
=            Wishlist page content         =
=============================================-->

<div class="page-section mb-80">
	<div class="container">
		<div class="row">
			<div class="col-12">
				{%if list.total > 0%}
					<form action="#">
						<!--=======  wishlist table  =======-->
						<div class="cart-table table-responsive">
							<table class="table">
								<thead>
								<tr>
									<th class="pro-thumbnail">{{services.translate.trans('Plentymarket::WebAccountCart.image')}}</th>
									<th class="pro-title">{{services.translate.trans('Plentymarket::WebAccountCart.product')}}</th>
									<th class="pro-price">{{services.translate.trans('Plentymarket::WebAccountCart.price')}}</th>
									<th class="pro-remove">{{services.translate.trans('Plentymarket::WebAccountCart.remove')}}</th>
								</tr>
								</thead>
								<tbody>
								{%for item in list.list%}
									<tr>
										<td class="pro-thumbnail">
											<a href="/index/product/{{item.id}}"><img src="{{item.images.0}}" class="img-fluid" alt="Product"></a>
										</td>
										<td class="pro-title"><a href="/index/product/{{item.id}}">{{item.name}}</a>
										</td>
										<td class="pro-price"><span>{{item.format_discount_price}}</span></td>
										<td class="pro-remove" data-id="{{item.variationId}}">
											<a href="#"><i class="fa fa-trash-o"></i></a>
										</td>
									</tr>
								{%endfor%}
								</tbody>
							</table>
						</div>
						<!--=======  End of wishlist table  =======-->
					</form>
				{%else%}
					<div class="cart empty">
						<div class="page-title" style="border-bottom: 1px solid #000;">
							<h1>{{services.translate.trans('Plentymarket::WebAccountWishlist.wishlist')}}</h1>
						</div>
						<div class="cart-empty">
							<p style="background-color: #fefad7;
    padding: 15px;
    margin-top: 15px;font-size: 14px;
    font-weight: 400;">{{services.translate.trans('Plentymarket::WebAccountWishlist.wishlist_empty_desc')}}</p>
							<div class="buttons-set">
								<a href="/" title="{{services.translate.trans('Plentymarket::WebAccountWishlist.continue')}}" class="checkout-btn" style="font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1e1e1e;
    border-color: #1e1e1e;    padding: 15px;">
									<span class="button_label">{{services.translate.trans('Plentymarket::WebAccountWishlist.continue')}}</span>
								</a>
							</div>
						</div>
					</div>
				{%endif%}
			</div>
		</div>
	</div>
</div>

<!--=====  End of Wishlist page content  ======-->
{%include 'Plentymarket::common.footer'%}
<script type="text/javascript">
    $(".pro-remove").on("click", function()
    {
        var tr = $(this).parents("tr");
        var id = $(this).data("id");
        $.get("/api/wishlist/delete/" + id, function(response)
        {
            if (response.code == 1)
            {
                tr.remove();
                $("#wishlist-num").text(parseInt($("#wishlist-num").text()) - 1);
            }
            else
            {
                spop({
                    template: "system_error!",
                    style: "error"
                });
            }
        });
        return false;
    });
</script>
